body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

main {
    display: grid;
    grid-template: auto auto/ auto auto;
    color: white;
    justify-content: space-around;
}

nav {
    /* display: flex; */
    grid-column: 1/-1;
    background-color: black;
}

nav>img {
    background-color: yellow;
    justify-content: flex-end;
    width: auto;
    position: absolute;
    /* top: 50px; */
    padding-top: 2em;
}

ul {
    list-style: none;
    /* display: none; */
    margin: 0;
    padding: 0;
    border: 2px solid magenta;
    height: 100%;
}

main {
    background: url("../img/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

a {
    text-decoration: none;
}

.hero-section {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(1em, 400px) minmax(1em, 1fr);
    padding: 4em 0;
}

.hero-section>* {
    grid-column: 2/-2;
}

.btn {
    border: none;
    font-weight: 700;

    padding: 1em 1.5em;
}

.btn-primary {
    background: #ffe600;
    color: #000;
    justify-self: start;
}

.section-info {
    display: grid;
    padding: 1.5em;
    grid-template: auto auto auto/auto;
    justify-content: center;
    align-content: center;
}

.section-info>* {
    align-self: center;
    text-align: center;
}

.single-section {
    display: grid;
    grid-template: auto/auto;
    justify-content: center;
    text-align: center;
    padding: 1em;
}

.selected {
    font-weight: 700;
    border-bottom: 4px solid yellow;
}

.thick-text {
    font-weight: bold;
}

.main-about {
    padding: 1em;
    display: grid;
    grid-template: auto auto auto/auto;
}

.box-image {
    width: 95%;
    height: auto;
    box-shadow: 5px 5px black, 10px 10px yellow;
}

.main-about-heading{
    font-weight: bold;
    box-shadow: inset -0px -0.5em yellow;

}
footer {
    background-color: #ebebeb;
    padding: 1.5em;
    display: grid;
    grid-template: auto auto auto/auto;
    text-align: center;
}

footer>img {
    margin-left: auto;
    margin-right: auto;
}

.social-links {
    grid-row: 1;
    padding: 1em;
}

@media only screen and (min-width: 600px) {
    ul {
        list-style: none;
        display: flex;
    }

    li {
        padding: 0 4em;
    }

    .section-info {
        grid-template: auto/ minmax(1em, 1fr) auto auto auto;
        align-items: flex-start;
        column-gap: 1em;
    }

    .section-info>* {
        align-self: flex-start;
        /* text-align: center; */
    }

    .section-info-first-child {
        grid-column: 2;
    }

    .hero-section {
        grid-template-columns: 1em minmax(1em, 700px) minmax(1em, 1fr);
        padding: 6em 0;
    }

    main {
        background-position: bottom;
    }

    footer {
        display: grid;
        grid-template: auto / minmax(1em, 1fr) auto auto;
        text-align: left;
    }

    footer>* {
        grid-column: 2;
    }

    .social-links {
        grid-row: 1;
        grid-column: 3;
        padding: 1em;
    }

    .footer-copyright {
        grid-row: 3;
    }

    footer>img {
        margin-left: 0;
        margin-right: 0;
    }
}